<%# add navigation links to this file %>

<li class="nav-item"><%= link_to 'Read', stories_path, class: 'nav-link', style: '' %></li>
<li class="nav-item"><%= link_to 'Write', page_path('about'), class: 'nav-link', style: '' %></li>
<li class="nav-item"><%= link_to 'People', page_path('about'), class: 'nav-link', style: '' %></li>



