<%# add navigation links to this file %>

<li class="nav-item"><%= link_to 'Read', stories_path, class: 'nav-link', style: '' %></li>
<li class="nav-item"><%= link_to 'Write', new_story_path, class: 'nav-link', style: '' %></li>
<li class="nav-item"><%= link_to 'People', users_path, class: 'nav-link', style: '' %></li>



