<style type="text/css">

  .navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .navbar {
    min-height: 50px;
    -webkit-box-shadow: 0px 1px 4px #799db0;
    -moz-box-shadow: 0px 1px 4px #799db0;
    /*box-shadow: 0px 1px 1px #bdbbb6;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
    background-color: rgba(255, 255, 255, 0.98);
  }

  .navbar-toggler-left {
    border: none;
  }
</style>


<nav class="navbar navbar-toggleable-sm navbar-light bg-faded text-center">
  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to image_tag('folklit-initial-curved-feather.png', :size => 65, :class => 'navbar-brand') %>


  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav ml-auto mr-auto mt-2 mt-md-0 ">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>

    </ul>

    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <%= link_to "@domi91c", '/', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
